<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Alusoft Portal</title>
    <link rel="stylesheet" href="bootstrap/css/bootstrap.min.css" />
  </head>
  <body>
    <div class="container text-center">
      <div class="jumbotron">
        <h1 class="display-4">Alusoft Training Portal</h1>
        <p class="lead">A platform for students, instructors and administrators to manage various aspects of training.</p>
        <hr class="my-4">
        <div class="row">
          <div class="col">
            <a href="/students" class="btn btn-primary btn-lg">Students</a>
          </div>
          <div class="col">
            <a href="/instructors" class="btn btn-primary btn-lg">Instructors</a>
          </div>
          <div class="col">
            <a href="/courses" class="btn btn-primary btn-lg">Courses</a>
          </div>
          <div class="col">
            <a href="/programmes" class="btn btn-primary btn-lg">Programmes</a>
          </div>
        </div>
      </div>
    </div>
  </body>
</html>
