<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Alusoft Portal</title>
    <link rel="stylesheet" href="bootstrap/css/bootstrap.min.css" />
  </head>
  <body>
    <h1>Alusoft Training Portal</h1>
    <p>
      <a href="/students">Students</a><br />
      <a href="/instructors">Instructors</a><br />
      <a href="/courses">Courses</a><br />
      <a href="/programmes">Programmes</a><br />
    </p>
    <p>Get Started with Alusoft Training Portal</p>
  </body>
</html>
